* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

$font-stack: "Montserrat", sans-serif;
;
$primary-color: #000000;


body {
    padding: 98px 10%;
    font-family: $font-stack;
    color: $primary-color;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    font-weight: bold;
}

.speaker-details {
    width: 100%;
    display: flex;
    border-radius: 10px;
    position: relative;
    gap: 20px;
    // align-items: center;

}

.speaker-details--remove {
    display: none;
}

.speaker-details svg {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    cursor: pointer;
}

.speaker-details__figure {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
    justify-content: start;

}

.speaker-details__figure img,
.speakers-container__figure img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}

.speaker-details__figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.speaker-details__figure figcaption h2,
.speakers-container__figure figcaption h2 {
    font-size: 24px;
    font-weight: 700;
}

.speaker-details__figure figcaption h3,
.speakers-container__figure figcaption h3 {
    font-size: 18px;
    font-weight: 600;
}

.speaker-details__figure figcaption p,
.speakers-container__figure figcaption p {
    font-size: 16px;
    font-weight: 400;
    line-height: 5px;
    color: #6B6B6B
}



.speaker-details__seprator {
    border-left: 1px solid #B7B7B7;
}

.speaker-details article {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Lora';
    color: $primary-color;
    // width: 100%;
}

// 2nd section

.speakers-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    // justify-content: space-between;

    // border: 1px solid red;
}

.speakers-container__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 36px 21px;
    border-radius: 10px;
    width: calc(25% - 20px);
    cursor: pointer;
}




.speakers-container__figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.speakers-container-parent {
    position: relative;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: -5%;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #DADADA;
    background-color:  white;
    border: 0.5px solid rgb(241, 236, 236);
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -5%;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: bold;
    color: #DADADA;
    background-color: white;
    border: 0.5px solid rgb(241, 236, 236);
    cursor: pointer;
}


.program-section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.program-section button {
    border-radius: 10px;
    padding: 20px 66px;
    background-color: #003FB4;
    color: white;
    width: 30%;
}


@media (max-width:1024px) {
    .speakers-container__figure {
        width: calc(33% - 20px);
    }

    .program-section button {
        width: 70%;
    }
}

@media (max-width:768px) {
    .speakers-container__figure {
        width: calc(50% - 20px);
    }

    .speaker-details{
     flex-direction: column;    
    }

    .program-section button {
        width: 100%;
    }
    .left-arrow{
        left: -10%;
       }
}

@media (max-width:480px) {
    .speakers-container__figure {
        width: calc(100% - 20px);
    }

   
}